* {
    font-family: 'Open Sans Condensed', sans-serif;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    background-color: white;
    width: 100%;
}

.header_logo {
    display: flex;
}

.header_logo a h1 {
    margin-left: 1rem;
    color: black
}

.header_logo a {
    text-decoration: none;
}

.header button {
    padding: 0.4rem;
    border: none;
    margin: 0 0.2rem;
    font-size: 1.1rem;
    font-weight: 900;
    background-color: #00695c  ;
    color: white;
    border-radius: 0.3rem;
}

.header input {
    font-size: 1.1rem;
}

.header a {
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 900;
    color: #00695c;
}

.header a:hover {
    color: red;
    text-decoration: underline;
    transition: color 0.3s;
}

.card_container {
    padding-top: 5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    width: 24%;
    height: 100%;
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 0.6rem;
    margin-top: 1rem;
}

.card img {
    width: 100%;
    height: 15rem;
    display: block;
    margin-top: -1.4rem;
    margin-bottom: -2rem;
}

.card a h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: -2.5rem;
    color: black;
}

.card p {
    font-size: 1.5rem;
    padding: 0  1rem;
    line-height: 1.5rem;
    margin-bottom: -1rem;
}

.card h3, .card a  {
    padding: 0 1rem;
}

.card a {
    text-decoration: none;
    
}

.card a h1:hover {
    color: red;
    text-decoration: underline;
    transition: color 0.3s;
}

.card_footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -1rem;
    height: 4rem;
}

.card .card_favorite__img {
    width: 4rem;
    height: 4rem;
    animation: swing 1s ease;
}


.swing:hover{
    -webkit-animation: swing 1s ease;
    animation: swing 1s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

.card_inside {
    padding: 0 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F2F2F2;
}

.card_inside h1 {
    padding-top: 5rem;
    text-align: center;
}

.card_inside img {
    height: 30rem;
    width: 70%;
}

.card_inside p {
    font-size: 1.2rem;
    text-indent: 3rem;
    line-height: 1.5rem;
    font-weight: 600;
}

.card_inside h3 {
    font-size: 2rem;
}

.favorites_title {
    padding-top: 7rem;
    text-align: center;
    margin-bottom: -4rem;
}

@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px) {
    .card {
        width: 100%;
    }

    .card_inside {
        padding: 0 1rem;
    }

    .card_inside img {
        height: 50%;
        width: 100%;
    }

    .card_inside p {
        font-size: 1rem;
    }

    .header {
        position: relative;
        flex-wrap: wrap;
        flex-direction: column;
        padding: 0;
    }
    
    .header_logo img {
        width: 4rem;
        height: 4rem;
        margin-top: 1rem;
    }

    .header_sort {
        margin-top: -1rem;
        margin-bottom: 0.2rem;
    }

    .header_search {
        margin-top: 0.1rem;
    }

    .card_container {
        padding-top: 0;
    }

    .favorites_title {
        padding-top: 0;
    }

    .card_inside h1 {
        padding-top:  0;
    }
}

@media only screen
and (min-device-width: 568px)
and (max-device-width: 768px){
    .card {
        width: 49%;
    }
    
    .header {
        flex-wrap: wrap;
        position: relative;
    }

    .header_search {
        margin-bottom: 1rem;
    }

    .card_container {
        padding: 0;
    }

    .card_inside {
        padding: 0 1rem;
    }

    .card_inside img {
        width: 90%;
        height: 20rem;
    }

    .card_inside h1 {
        padding-top: 0;
    }

    .favorites_title {
        padding-top: 0;
    }
}

@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px){
    .card {
        width: 33%;
    }

    .header {
        align-items: center;
        flex-wrap: wrap;
        padding: 0;
    }

    .header_logo img {
        width: 3rem;
        height: 3rem;
        margin-top: 1.6rem;
        
    }

    .header_logo a h1 {
        font-size: 2rem;
    }

    .header_search {
        padding-bottom: 0.5rem;
    }

    .card_container {
        padding-top: 8rem;
    }

    .card_inside {
        padding: 0 2rem;
    }

    .card_inside img {
        width: 100%;
        height: 30rem;
    }

    .favorites_title {
        margin-bottom: -7rem;
        margin-top: -1rem;
    }
}
